@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide {
    0%   { transform: translateX(-100%) scaleX(1); }
    50%  { transform: translateX(150%) scaleX(1.5); }
    100% { transform: translateX(400%) scaleX(1); }
  }
}
